/* WHY THE HELL THIS IS NOT BLOODY WORKINB
GFDGGFDGFDEGFDSSGFDS r/ihadastroke
 */
/* UPDATE: WORKS BETTER NOW, JUST NEED TO CHANGE
anchorPane dimensions.
 */
.split-pane:vertical .split-pane-divider {
    -fx-border-color:  transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.split-pane .vertical-grabber {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-shape: " ";
}
.tab-pane .tab-header-background {
    -fx-background-color:transparent;
}
.split-pane .split-pane-divider {
    -fx-background-color: transparent;
}

.my-title {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-margin-bottom: 10;
}

.my-tab {
    /* -fx-opacity: 0; */
    -fx-padding: 30 15 15 15;
    -fx-spacing: 10;
    -fx-background-color: #e8e8e8;
}
