/* WHY THE HELL THIS IS NOT BLOODY WORKINB
GFDGGFDGFDEGFDSSGFDS r/ihadastroke
 */
/* UPDATE: WORKS BETTER NOW, JUST NEED TO CHANGE
anchorPane dimensions.
 */
.split-pane:vertical .split-pane-divider {
    -fx-border-color:  transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.split-pane .vertical-grabber {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-shape: " ";
}
.tab-pane .tab-header-background {
    -fx-background-color:transparent;
}
.split-pane .split-pane-divider {
    -fx-background-color: transparent;
}

.my-title {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-margin-bottom: 10;
}

.my-tab {
    /* -fx-opacity: 0; */
    -fx-padding: 30 15 15 15;
    -fx-spacing: 10;
    -fx-background-color: #e8e8e8;
}

#btnPlay, #btnPause, #btnStop{
    -fx-padding: 8 8 8 8;
    -fx-background-radius: 8;
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-border-insets: 0;
}

#btnPlay:hover, #btnPause:hover, #btnStop:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #666361 0%, #5e5e5e 100%),
            radial-gradient(center 50% 50%, radius 100%, #423e3e, #443939);
}

#btnPlay:pressed, #btnPause:pressed, #btnStop:pressed {
    -fx-padding: 10 10 10 10;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

